<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.idle.dao.LoginDao">


    <parameterMap id="params" type="com.alibaba.fastjson.JSONObject"></parameterMap>
    <resultMap id="result" type="com.alibaba.fastjson.JSONObject"></resultMap>

    <select id="login" parameterMap="params" resultMap="result">
        select
            uid,username,nickname,phone,register_time
        from
            tb_idle_user
        where
            username = #{username} and password = #{password} and status = 1

    </select>

    <select id="hasUsername" parameterType="string" resultType="int">
        select count(0) from tb_idle_user where username = #{username}
    </select>

    <insert id="register" parameterMap="params">
        insert into
            tb_idle_user
            (uid,username,nickname,password,phone,register_time,status)
        values
            (#{uid},#{username},#{nickname},#{password},#{phone},current_timestamp(),1)
    </insert>


</mapper>